<p id="notice"><%= notice %></p>
<div class="panel radius">

<p>
  <strong>Name:</strong>
  <%= @chef.name %>
</p>
</div>


<%= link_to 'Edit', edit_chef_path(@chef) %> |
<%= link_to 'Back', deserts_path %>
