<%= form_for(@desert) do |f| %>
<form>
    <% if @desert.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@desert.errors.count, "error") %> prohibited this desert from being saved:</h2>

        <ul>
        <% @desert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :recipe %><br>
      <%= f.text_area :recipe %>
    </div>
    <div class="field">
      <%= f.label :instruction %><br>
      <%= f.text_area :instruction %>
    </div>
    <div class="field">
      <%= f.label :img_url %><br>
      <%= f.text_field :img_url %>

    </div>
    <div class="field">
      <%= f.label :chef_id %><br>
      <%= f.collection_select :chef_id, Chef.all,:id,:name ,
      {prompt: true, length: 25},{style: "width: 180px;" , class: "customDropdown" }
      %>
    </div>
    <button type="submit" class = "radius button" >  Create </button>
      
    </div>

</form>

<% end %>
