 <div class="hide-for-small">
        <div id="featured">
              <ul data-orbit data-options="timer_speed:2500; bullets:false;">

              <img src="http://s24.postimg.org/ryzb5j46t/Custard.png" alt="slide image">
              <img src="http://s24.postimg.org/cqn5x0h8l/cheese_Cake.png" alt="slide image">
          </div>
        </div>
 