
  <tbody> 
 
 
  <div class="row">
    <div class="large-12 columns">
 
    <!-- Desktop Slider -->
 
     <%= render "deserts/slider" %>
    <!-- End Desktop Slider -->
 
 
    <!-- Mobile Header -->
 
 
    <div class="row">
      <div class="small-12 show-for-small"><br>
        <%= image_tag "macarons.png" %>
      </div>
    </div>
 
 
  <!-- End Mobile Header -->
 
    </div>
  </div><br>
 
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
 
    <!-- Thumbnails -->
    <% @deserts.each do |desert| %>
        <div class="large-4 small-6 columns ">
          <!-- <div class="img-resize" href= desert > <img src= <%= desert.img_url %> > </div> -->
          <div class="img-resize">
            <%= link_to image_tag(desert.img_url), desert%>
          </div>
          <h6 class="panel radius subheader"><%= link_to t(desert.name), desert %></h6>
          <!-- <h6 class="panel radius subheader"> <%=desert.name%> </h6> -->
        </div>
                
    <% end %>

 
    <!-- End Thumbnails -->
 
      </div>
                 <div class="right" ><%= will_paginate @deserts %><br></div> 

    </div>
  </div>
 
 
 
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
 
    <!-- Content -->
 
        <div class="large-8 columns">
          <div class="panel radius">
 
          <div class="row">
          <div class="large-6 small-6 columns">
 
            <h4><%= t('topbarTitle') %></h4><hr/>
            <h5 class="subheader"> <%= t('desLeft') %>
            </h5>
 
 
          </div>
          <div class="large-6 small-6 columns">
 
            <p><%= t('desRight') %></p>
        </div>
 
          </div>
          </div>
        </div>
 
          <div class="large-4 columns hide-for-small">
 
          <h4><%= t('createMenu') %></h4><hr/>
 
          <a class="large button expand" href="deserts/new">
            <%= t('createMenu') %>
          </a>
 
          <a class="large button expand" href="chefs/new">
            <%= t('createChef') %>
          </a>
 



              <%= form_tag deserts_path, :method => 'get' do %>
                  <%= text_field_tag :search, params[:search],placeholder: t("searchField") %>
                  <div class = "right">
                    <%= submit_tag t("searchField") , :class => "button round" %>
                  </div>
              <% end %>
            
 
        </div>
 
    <!-- End Content -->
 
      </div>
    </div>
  </div>
  </tbody>
