  <tbody>
    <div class="row" align="center">
      <img src=<%=@desert.img_url%>> 
    </div>
  </tbody>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @desert.name %>
</p>

<p>
  
</p>
<div class="panel radius">
<p>
  <strong>Recipe:</strong>
  <%= simple_format(h @desert.recipe) %>

</p>
</div>

<p>
  <div class="panel radius">
    <strong>Instruction:</strong>
    <%= simple_format(h @desert.instruction) %>
  </div>
</p>


<p>
  <strong>Chef:</strong>
  <%= @desert.chef.name %>
</p>

<%= link_to 'Edit', edit_desert_path(@desert) %> |
<%= link_to 'Back', deserts_path %> |
<%= link_to 'Delete', @desert, method: :delete, data: { confirm: 'Are you sure to delete this ?' } %>

