
    <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright , Created by Promboon Jirawattanakitja 5410404441.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
