<div class="large-12 sticky ">
 
    <!-- Navigation -->
      <nav class="top-bar ">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="/">
                <%= t('topbarTitle') %>
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
 
        <section class="top-bar-section">
          <ul class="left">
            <li class = "divider"> <li> <%= link_to "Eng", :locale => 'en' %> </li> </li> 
            <li class = "divider"> <li> <%= link_to "Thai", :locale => 'th' %> </li></li> 

          </ul>
          
 
        </section>
      </nav>
 
    <!-- End Navigation -->
  
    </div>